@tailwind base;
@tailwind components;

.dotted {
  @apply relative;
}

.dotted::before {
  content: '';
  left: 50%;
  @apply absolute bg-gray-800 w-1 h-1 rounded-full mt-6;
}

.subhead {
  @apply tracking-wider text-sm;
}

.title {
  @apply text-4xl font-semibold leading-tight mb-3;
}

.btn {
  @apply cursor-pointer inline-block rounded-lg text-base tracking-wide px-5 py-3;
}

.btn .btn-outline {
  @apply border border-white;
  @apply text-cool-gray-200;
}

.underline-gradient {
  background-position: 3px 88%;
  background-image: linear-gradient(120deg, #7edce2ff 0%, #7edce2ff 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
}

.link {
  @apply underline-gradient;
}

.link-dark {
  background-image: linear-gradient(120deg, #2c7a7bff 0%, #2c7a7bff 100%);
}

.rich-text {
  @apply font-light text-gray-600;
}

.rich-text p {
  @apply mb-2;
}

.rich-text li {
  @apply list-disc mb-1 ml-5;
}

@tailwind utilities;
